body{
    padding: 10px;
    margin: 5px;
    overflow: auto;
}


tr .first_column{
    /* position: absolute;
    left: 20px; */
    height: 200px;
    text-align: center;
    border: 2px solid #000;
    font-size: 80px;
    
}
tr .second_column{
    /* position: absolute;
    left: 100px; */
    height: 200px;
    text-align: center;
    border: 2px solid #000;
    font-size: 80px;

}
tr th{
    text-align: center;
    padding: 18px;
}
/* tr .department_header{
    width: 300px;
    background-color: rgb(64, 194, 62);
} */
tr .department_assessment{
    font-size: 30px;
    width: 350px;
    background-color: rgb(0, 64, 255);
    color: #000000;
}
tr .department_cashier{
    font-size: 30px;
    width: 350px;
    background-color: rgb(0, 64, 255);
    color: #000000;
}
tr .department_registrar {
    font-size: 30px;
    width: 350px;
    background-color: rgb(0, 64, 255);
    color: #000000;
}

table{
    border: 2px solid #000;
    border-collapse: collapse;
}


/* VIDEO */
.unconstrained-video {
    width: 71%; 
    height: 833px; 
    object-fit: fill; 
}
video{
    position: absolute;
    top: 15px;
    right:.5%;
}